@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}
